* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

h1, h2, h3, h4, h5, h6, p {
  margin-bottom: 16px;
}

@font-face {
  font-family: VintageKing;
  src: url(../css/fonts/VintageKing.ttf);
}
@font-face {
  font-family: CoolReg;
  src: url(../css/fonts/coolvetica\ rg.otf);
}
@font-face {
  font-family: CoolRegCon;
  src: url(../css/fonts/coolvetica\ condensed\ rg.otf);
}
@font-face {
  font-family: CoolRegIta;
  src: url(../css/fonts/coolvetica\ rg\ it.otf);
}
footer {
  width: 100%;
  min-height: 130px;
  background-color: #1c9d7c;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .foot-info {
  width: 400px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
footer .foot-info h5 {
  font-family: CoolReg;
  letter-spacing: 0.5px;
}
footer .foot-info .socials {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 200px;
}
footer .foot-info .socials .fa-twitter {
  color: #502a19;
  font-size: 30px;
  cursor: pointer;
}
footer .foot-info .socials .fa-instagram {
  color: #502a19;
  font-size: 30px;
  cursor: pointer;
}
footer .foot-info .socials .fa-facebook-f {
  color: #502a19;
  font-size: 30px;
  cursor: pointer;
}

#app {
  max-width: 1920px;
  min-height: 600px;
  margin: 0 auto;
}

nav {
  max-width: 1920px;
  height: 80px;
  background-color: rgb(255, 248, 214);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav .logo {
  width: 280px;
  height: 75px;
  margin-left: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav .logo .logo-img {
  width: 75px;
  height: 100%;
  background-image: url(../images/logo.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
nav .logo .logo-text {
  width: 205px;
  font-size: 35px;
  margin-right: 20px;
  margin-left: 5px;
  padding-top: 10px;
  padding-left: 10px;
  font-family: VintageKing;
}
nav .links {
  margin-right: 20px;
}
nav .links a {
  text-decoration: none;
  color: rgb(27, 26, 26);
  margin-left: 20px;
  font-family: CoolReg;
  font-size: 20px;
  transition: 0.25s;
}
nav .links a:hover {
  color: #df8500;
}

.home {
  width: 100%;
  min-height: 600px;
  margin: 0 auto;
  position: relative;
}
.home .hero {
  width: 100%;
  height: 720px;
  background-image: linear-gradient(rgba(27, 26, 26, 0.5), rgba(27, 26, 26, 0.9)), url(../images/hero.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.home .hero .hero-txt {
  margin-left: 70px;
}
.home .hero .hero-txt h1 {
  font-family: CoolRegIta;
  font-size: 50px;
  color: rgb(255, 248, 214);
  letter-spacing: 2.5px;
}
.home .hero .hero-txt p {
  font-family: CoolReg;
  color: rgb(255, 248, 214);
  letter-spacing: 1px;
  font-size: 20px;
  margin-top: -10px;
  width: 380px;
}
.home .hero .CTA {
  width: 150px;
  height: 58px;
  background-color: #1c9d7c;
  margin-top: 25px;
  margin-left: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(255, 248, 214);
  font-family: CoolRegCon;
  font-size: 25px;
  cursor: pointer;
  text-decoration: none;
}

.create {
  width: 100%;
  min-height: 600px;
  margin: 0 auto;
  position: relative;
  background-color: #d4b75e;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.create h1 {
  font-family: CoolReg;
  letter-spacing: 2px;
}
.create form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.create form label {
  font-size: 23px;
  font-family: CoolRegCon;
  margin-top: 25px;
  word-spacing: 2px;
  letter-spacing: 0.5px;
}
.create form input {
  border: none;
  background-color: rgb(255, 248, 214);
  box-shadow: none;
  padding-left: 5px;
  height: 45px;
  width: 300px;
}
.create form input:focus {
  outline: none !important;
  border: #1c9d7c 3px solid;
}
.create form #submit {
  margin: 30px auto 50px auto;
  width: 150px;
  height: 58px;
  background-color: #1c9d7c;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(255, 248, 214);
  font-family: CoolRegCon;
  font-size: 25px;
  letter-spacing: 1px;
  cursor: pointer;
}
.create #edit {
  margin: 30px auto 50px auto;
  width: 150px;
  height: 58px;
  background-color: #1c9d7c;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(255, 248, 214);
  font-family: CoolRegCon;
  font-size: 25px;
  letter-spacing: 1px;
  cursor: pointer;
  border: none;
  margin-top: -25px;
}

/*# sourceMappingURL=styles.css.map */
